/*------------------------------------*\
    Mini Cart
\*------------------------------------*/
.opal-topcart{
    .dropdown{
        &.open{
            .mini-cart{
                &:before{
                    content:"";
                    background:transparent;
                    position:absolute;
                    top: 0;
                    @include rtl-left(0);
                    @include size(100%, 200px);
                }
            }
        }
    }
    .dropdown-menu{
        padding: $theme-padding;
        min-width: $mini-cart-dropdown-size;
        display: block;
        visibility: hidden;
        @include rtl-text-align-left;
        @include rtl-left(auto);
        @include rtl-right(0);
        @include box-sizing(border-box);
        @include opacity(0);
        @include scale(0);
        @include transition(all 300ms cubic-bezier(0.34, 1.61, 0.7, 1));
        margin: 0;
        border: 2px solid $theme-color;
        .quantity{
            font-size: $font-size-base;
        }
    }
    .media{
        border-bottom:solid 1px $border-color;
        padding-bottom: 30px;
    }
    .name {
        font-size: 15px;
        margin-bottom: 10px;
        a{
            color: $black!important;
            &:hover{
                color: $theme-color!important;
            }
        }    
    }
    .open{
        .dropdown-menu{
            @include scale(1);
            @include opacity(1);
            @include transform-origin(29px, -50px);
            @include filter(none);
            visibility: visible;
            z-index: 99999;
        }
    } 
    .buttons{
        margin-bottom: 0;
        padding:15px 20px;
        text-transform: uppercase;        
    }
}
.box-top{
    .box-title{
        .title-cart{
            display: none;
        }
        .mini-cart-items{
            display: none;
        }
    }
    .box-amount{
        color: $black;
        font-weight:600;
        font-size: 16px;
    }
}
#cart{
    clear:both;
    @include clearfix();
    padding: 0;
   .mini-cart{  
        @include rtl-padding-left(30px);
        .icon-cart{
            background: url("#{$image-theme-path}icon-cart.png") no-repeat left ;
            position: absolute;
            @include size(20px, 20px);
            @include rtl-left(0);
            top: 2px;
        }     
        .amount{
            font-size: 16px;
        }
        .mini-cart-total{
            @include rtl-float-left();
            margin: 0 10px;
        }  
        .total{
            i{
                @include rtl-margin-left(20px);
            }
        }    
    }
}

///// Elements Styles //////////////// ////////////// ////////////// ////////////// ////////////// ////////////// //////////////
/*
 * Product Detail Page
 */
.product-info{
    padding-bottom: 10px;
    .product-topinfo{ 
        h1{
            color: $gray-dark !important;
            font-size: 40px !important;
        }        
        .product-nav{
            position: absolute;
            @include rtl-right(0);
            top: -40px;
            @media (max-width: $screen-xs-max){
                @include rtl-right(20px);
                top: -5px;                 
            }
            p{
                @include rtl-float-left();
                @include rtl-margin-left(2px);
                margin-top: 10px;
                a{
                    @include border-radius(50%);
                    background: $brand-primary;
                    color: $white;
                }
            }
            a{
                font-size: 9px;
                color: $brand-primary;
                font-weight: 600;
                line-height: 27px;
                background: #f4f4f4;
                @include size(28px,28px);
                text-align: center;
                display: block;
                @include transition(all 0.5s ease);
                .fa{
                    padding: 0 4px;
                    @include rtl{
                        transform: rotate(180deg);
                    }
                }
                &:hover, &:focus{
                    color: $white;
                    @include box-shadow(0 0 0 30px $brand-primary inset);
                }
            }
        }
        .product_title{
            color: $black;
        }
    }
    > div.row{
        background: $white;
        margin-top: 30px;
    }
    .images{
        position: relative;
        width:100% !important;
    }
    .price{        
        > *{           
            text-decoration: none;
        } 
        del{
            opacity: 1 !important;
            span{
                @include rtl-margin-right(5px);
                font-size: 18px;         
                text-decoration: line-through;
                color: $product-price-old-color;
            }
        }
    }
    .image-additional{
        margin-top: 10px;
        &.owl-carousel-play{
            .carousel-controls{
                bottom: 0px;
                top: 25%;
                @include rtl-left(0);
                width: 100%;
                opacity: 0;
                @include transition(all 300ms);
                position: unset;
                .carousel-control{
                    color: $brand-primary;
                    font-size: 18px;
                }
            }
        }
        &:hover{
            .carousel-controls{
                opacity: 1;
                .carousel-control {
                    &.left{
                        right: auto;
                        left: -10px;
                    } 
                    &.right{
                        right: -10px;
                    }
                }
            }
        }
    }
    span.onsale{
        @include size(40px, 25px);
        background-color: $brand-danger;
        top: 12px;
        @include rtl-left(8%);
        line-height: 20px;
        font-weight: 400;
        z-index: 1;
        border-radius: 0;
        min-height: 25px;
    }
}
.single-product-summary{   
    > div{
        &:first-child{
            margin-bottom: 25px;
        }
    }
    .yith-wcwl-add-to-wishlist {
        @include rtl-float-left();
        position: relative;
        @include rtl-margin-right(50px);
        margin-top: 2px;
        font-family: $font-family-monospace;
        a{
            color: $text-color;
            &:hover{
                color: $theme-color;
            }
            i{
                font-size: 16px;
            }
        }
        .ajax-loading{
            margin: 0;
            position: absolute;
            top: 10px;
        }
        .feedback{
            @include hide-text();
             display: none;
        }
    }        
    .clear{
        display: none;
    } 
    .yith-wcwl-wishlistaddedbrowse,
    .yith-wcwl-add-button,
    .yith-wcwl-wishlistexistsbrowse {
        a,
        a.add_to_wishlist {
            text-transform: uppercase;
            font-size: 12px;
            display: inline;
            @include rtl-float-left();
            &:hover {
                color: $theme-color;
                text-decoration: none;
            }
            i{
                @include rtl-margin-right(15px);
            }
        }
        > div{
            display: none;
        }        
    }
    .compare{
        color: $text-color !important;
        font-size: 11px !important;
        padding: 0 !important;
        text-transform: uppercase;
        background: transparent !important;
        font-family: $font-family-monospace;
        &:before{
            content: "\f1e0";
            font-family: "FontAwesome";
            color: $text-color;
            font-size: 16px;
            position: relative;
            right: 15px;
            font-weight: normal;
        }

        &:hover{
            background: transparent !important;
            color: $theme-color !important;
            &:before{
                color: $theme-color;
            }
        }
    }
    .yith-wcwl-wishlistaddedbrowse,
    .yith-wcwl-wishlistexistsbrowse{ 
        .feedback {
            color: $theme-color;
            line-height: 40px;
            @include rtl-margin-right(40px);
        }
    }
}
 
.productinfo-show-discounts {
    font-size: $font-size-base - 2;
    @include rtl-padding-left(75px);
    position: relative;
    color: #666;
    @include rtl-float-left();
    margin-bottom: 20px !important;
    &:before {
        background:  url('#{$image-theme-path}icon-show-discounts.png') no-repeat center center $brand-success;
        @include size (36px,36px);
        @include border-radius(50%);
        position: absolute;
        @include rtl-left(20px);
        top: 20px;
        content: "";
    }
      padding:0;
      margin-bottom: $line-height-computed;
      border-radius: $alert-border-radius;
      overflow: hidden;

    @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
 
     ul {
        list-style: none;
        @include rtl-margin-left(40px);
        padding:15px 30px;
        li {
             padding:  3px 0;
             &:before {
                 content: "\f14a";
                 font-family: "FontAwesome";
                 color: $brand-success;
                 @include rtl-padding-right(8px);
            }
        }
    }
}

//reviews
#reviews{
    .reviews-summary {
        padding: 20px 0;
        h5 {
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        .review-summary-total{
            text-align: center;
            font-weight: 400;
            .review-summary-result {
                @include size(90px, 90px);
                text-align: center;
                border: 2px solid $brand-warning;
                color: $brand-warning;
                line-height: 90px;
                font-size: 24px;
                @include border-radius(50%);
                margin-bottom: 8px;
            }
        }
        .review-summary-detal {
            overflow: hidden;
            display: block;
            .review-label{
                color: $black;
                font-weight: 400;
            }
            .progress {
            }
        }
        a.btn-primary{
            color: white;
        }
    }
    .comments{
        border-top: 1px solid $border-color;
        padding-top: 20px;
        h5 {
            margin-bottom: 20px;
            text-transform: uppercase;
        }
        .commentlist {
            margin: 15px 0;
            .comment {
                margin-bottom: 30px;
            }
            .opal-avata {             
                width: 100px;
                text-align: center;
                > div {
                    display: inline-block;
                }
                .opal-image {
                    .avatar {
                        @include border-radius(50%);
                        overflow: hidden;
                    }
                }
                .opal-author {
                    color: $black;
                    font-weight: 900;
                    padding-top: 10px;
                    text-transform: capitalize;
                }
            }
            .comment-text {
                border: 1px solid $border-color;
                padding: 15px 20px;
                .meta {
                    color: #bbb;
                }
                > div {
                    margin-bottom: 7px;
                    @include rtl-float-left;
                }
                .star-rating  {
                    margin-bottom: 15px;
                }
            }
        }
    }
    .review_form_wrapper {      
        border-top: 1px solid $border-color;
        padding: 20px 0;
    }

    .progress{
        margin-bottom: 15px;
        background-color: #f2f2f2;
        @include box-shadow(none);
        .progress-bar {
            color: $gray-darker;
            &.progress-bared {
                color: #fff;
            }
        }
    }

    #reply-title {
        margin-bottom: 20px;
        font-size: 16px;
        font-family: $font-family-base;
    }
}

////////// Pages Styles ////////////// ////////////// ////////////// ////////////// ////////////// ////////////// //////////////
/**
 * Product Single Page
 */
 
.product-block{
    display: block;
    position: relative;        
    z-index: 0;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid $border-color-base;
    @include transition(all 0.4s ease-in-out 0s);
    .product-assets{
        text-align: left;
        @include rtl-padding-left(16px);
        padding-top: 20px;
        .name{
            height: 100%;
        }
        .price{
            margin-bottom: 2px;
        }
        .star-rating{
            height: 13px;
        }
    }
    span{

        &.sale-off,&.onsale{
            position: absolute;
            @include size(95px, 37px);
            background:  url('#{$image-theme-path}sale.png') left no-repeat;
            color: #fff;
            top: 0;
            @include rtl-left(-29px);
            line-height: 35px;
            top: 0;
            line-height: 30px;
            font-weight: 400;
            z-index: 99;
            border-radius: 0;
            min-height: 25px;
            text-align: center;
            transform: rotate(-45deg);
            font-size: 14px;
            padding: 2px;
            font-family: $font-family-monospace;
        }
    }
    .image{
        position: relative;
        margin-bottom: -40px;
        img{
            height: auto;
            width: 100%;  
        }
        a,.product-image{
            display: block;
            overflow: hidden;
            position: relative;
        }
        .image-effect{
            top: 0;
            position: absolute;
            overflow: hidden;
            @include rtl-left(0);
            @include opacity(1);
            @include translate(-100%, 0px);
            @include transition(all 0.3s);
        }
        .image-hover{
            @include transition(all 0.3s );
        }
        &:hover{
            .image-effect{
                @include translate(0px,0px);
            }
            .image-hover{
                @include translate(100%, 0px);
            }
        }
    } 
    .price{        
        line-height: 1.6em;  
        display: inline-block;
        width: 80%;
        border-top: 1px solid $border-color-base;
        min-height: 28px;
        overflow: hidden;
        font-weight: $product-price-font-weight;
        font-family: $font-family-monospace;
        padding-top: 10px;
        padding-bottom: 5px;
        > *{
            color: $product-price-color;
            font-size: $product-price-font-size;
            display: block;
            overflow: hidden;
            min-height: 28px;
            display: inline-block;
        }
        del{
            color: $product-price-old-color;
            opacity: 1 !important;
            span{ 
                color: $product-price-old-color;                
            }
            @media (min-width: $screen-sm) and (max-width: $screen-sm-max){
                display: none
            }
        }
        ins{            
            text-decoration: none;
            font-weight: 400 !important;
        }
    }
    .name{
        @include font-size(font-size, $product-name-font-size);
        line-height: $product-name-line-height;
        font-weight: normal;
        height: 19px;
        overflow: hidden;
        margin-top: 0;
        margin-bottom: 5px;
        text-transform: uppercase;
        padding: 0 10px;
        a{
            font-family: $font-family-monospace;
            color: $product-name-color;
            &:hover{
                color: $brand-primary;
            }
        }
    }  
    .category{
        text-transform: none;
        font-weight: $product-category-font-weight;
        font-style: $product-category-font-style;
        @include font-size(font-size, $product-category-font-size);
        a{
            color: $product-category-color;
            &:hover{
                color: $product-category-hover-color;
            }
        }
    }
    .star-rating{
        font-size: 11px;
        display: inline-block !important;
        float: none;
        margin-bottom: 5px;
        font-family: star;
        height: 13px;
        line-height: 1;
        overflow: hidden;
        position: relative;
        width: 5.4em;
        &:before {
            content: "\53\53\53\53\53";
            color: #d3ced2;
            float: left;
            left: 0;
            position: absolute;
            top: 0;
        }
        span{
            float: left;
            left: 0;
            overflow: hidden;
            padding-top: 1.5em;
            position: absolute;
            top: 0;
            &:before {
                content: "\53\53\53\53\53";
                color: $brand-warning;
                left: 0;
                position: absolute;
                top: 0;
            }
        }
    }
    p.stars a{
        color: #f0c73b;
    }
    .star-rating span{
        color: #f0c73b;
    }    
    .clear,.added_to_cart {
        display: none !important;
    }
    .add-cart{
        a.cart{
            i{
                color: $brand-primary !important;
                 @include text-shadow(0 0 1px $brand-primary);
            }
        }
        .title-cart{
            display: none;
        }
    }
    .yith-wcwl-add-to-wishlist{
        span{
            display: none;
        }
    }
    .add_to_cart_button{
        position: relative;
        &.loading{
            .title-cart{
                visibility: hidden;
                &:after{
                    visibility: visible;
                    content: "Loading..";
                    position: absolute;
                    top: 9px;
                    left: 0;
                    width: 100%;
                    text-align: center; 
                }    
            }
        }
    }
    .caption{
        position: relative;
        z-index: 0;
        overflow: hidden;
        padding-top: 40px;
        border-top: 1px solid $border-color-base;
        background: $white ;
        border-top-left-radius: 50% 30%;
        border-top-right-radius: 50% 30%;
    } 
    &:hover{
        .name a, .star-rating span::before, .price > *, .price del span{
            color: $white;
        }
        .caption{
            background: $brand-primary;  
        .price{
            border-color: rgba(255, 255, 255, 0.36);;
        }
        }
        .button-action{
            opacity: 1;
            transform: scale(1);
        }
    }
}
.button-action{
    display: inline-block;
    transform: scale(0);  
    @include transition(all 0.4s ease-in-out 0s);
    position: absolute;
    left: 10%;
    width: 80%;
    bottom: 13px; 
    z-index: 9;
    > div{  
        border-radius: 50%;  
        background: $white;   
        &.yith-wcwl-add-to-wishlist, &.yith-compare, &.quick-view, &.add-cart{
            display: inline-block;
            margin: 4px 5px;
            a.add_to_wishlist, a.compare, a.quickview, a.button, .yith-wcwl-wishlistaddedbrowse a, .yith-wcwl-wishlistexistsbrowse a{
                display: block;                       
                @include size(34px, 34px);
                background: transparent;
                padding: 7px;
                i,em{
                    color: $light-gray;
                    margin: 0;
                    font-size: 16px;
                }
                &:hover{
                    background: transparent;
                    i,em{
                        color: $brand-primary;
                    }                   
                }
            }
        }
        &.yith-compare{
            .compare.added {
                color: transparent!important;
                &:before{
                    content: "\f0ec";
                    font-family: 'FontAwesome';
                    position: absolute;
                    color: #666;
                    @include size(40px, 40px);
                }
                &:hover{
                    color: $theme-color;
                }
            }
        } 
        .title{
            display: none;
        }
        .yith-wcwl-wishlistaddedbrowse,
        .yith-wcwl-wishlistexistsbrowse{ 
            .feedback {
                display: none;
            }

        }
        &.clear{
            display: none;
        }
    }
    .yith-wcwl-wishlistexistsbrowse{
        span{
            display: none;
        }
    }
}
div[class*="add-to-wishlist"]{
    margin-top: 0;
    position: relative;
    .ajax-loading{
        bottom: 0;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
    }
}
a.add_to_wishlist{
    display: block;    
}
.yith-wcwl-add-to-wishlist{
    margin-top: 0;
}


/**
 * Products Listing In Grid Style
 */
.products-grid{
    div.product{
        position: relative;
/*         margin-bottom: $grid-gutter-width; */
    }
    .first{
        clear:both;
    }
    .product-block{        
        .button-groups {
            > div{ 
                &.yith-wcwl-add-to-wishlist{
                    span{
                        display: none;
                    }
                    .ajax-loading {
                        position: absolute;
                        left: 4px;
                        top: 5px;
                    }
                } 
                .title{
                    display: none;
                }
                .yith-wcwl-wishlistaddedbrowse,
                .yith-wcwl-wishlistexistsbrowse{ 
                    .feedback {
                        display: none;
                    }
        
                }
                &.clear{
                    display: none;
                }
            }
        }
    } 
}
.grid{
    .add_to_wishlist,.quickview{
        span{
            display: none;
        }
    }
}

.products-list,.list{   
    .rating{
        @include clearfix();
    }
    .clear{
        display: none;
    }
    .product-block{
        border: none;
        border-radius: 3px;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid $border-color;
        .name{
            padding:0;
            font-size: 16px;
            a{
                color: $gray-dark;
            }
        }
         .image{
            margin: 0;
        }
        .price{
            border: none;
            padding: 0;
            height: 15px;
            > *{
                font-size: 14px;
                color: $product-price-color;
            }
            del{
                color: $product-price-old-color;
                span{ 
                    color: $product-price-old-color;                
                }
            }
        }       
        .rating{
            .star-rating{
                margin: 0;
            }
        }
        .product-assets{
            @include rtl-text-align-right();
            padding-top: 0;
        }
        .media-body.meta{
            @include rtl-text-align-left();
            padding-top: 15px;
        }
        .yith-wcwl-wishlistaddedbrowse,
        .yith-wcwl-add-button,
        .yith-wcwl-wishlistexistsbrowse {
            a,
            a.add_to_wishlist {
                color: #666;
                font-weight: 400;
                line-height: 30px;
                &:hover {
                    color: $theme-color;
                }
                
            }
        }
        .yith-wcwl-wishlistexistsbrowse {
            a {
                display: none;
            }
        }
        a.compare,a.quickview{
            color: #666;
            font-weight: 400;
            line-height: 30px;
            &:hover {
                color: $theme-color;
            }
            &.added {
                color: $theme-color;
            }
        }
        .add-cart{
            a.button{
                background: transparent;
            }
        }    
    }
}

/**
 * Single product
 */
/*------------------------------------*\
    Quantity inputs
\*------------------------------------*/
.quantity {
    position : relative;
    margin   : 0 auto;
    overflow : hidden;
    zoom     : 1;
    span{
        font-size: $font-size-base + 2;
        @include rtl-margin-right(5px);
    }
    input.qty {
        @include border-right-radius(0);
        @include border-left-radius(0);
        padding:10px;      
        @include size(45px, 35px);                       
        color: $black;
        font-weight: 400;
        border: 1px solid #e5e5e5;
        &:focus{
            @include form-control-focus();
        }
    }
    .plus, .minus {
        background      : $white;
        @include rtl-float-right();
        @include rtl-clear-right();
        display         : block;
        padding         : 0;
        margin          : 0;
        vertical-align  : text-top;
        text-decoration : none;
        overflow        : visible;
        text-decoration : none;
        cursor          : pointer;
        line-height     : 13px;
        font-size       : 12px;
        color           : $text-color;
        border          : 1px solid $border-color;
        text-align: center;
        @include size(25px , 19px);
    }
    .plus {
        @include border-bottom-radius(0);
         @include rtl-right (0);
    }
    .minus {
        bottom: 0;
         @include rtl-right (0);
        @include border-top-radius(0);
    }
}


/* Single > Meta */
.product_meta{
    clear: both;
    border-top:1px dotted $border-color;
    padding:20px 0;
    margin-top: 20px;
    text-transform: capitalize;
    color: $light-gray;
    font-family: $font-family-monospace;
    letter-spacing: 0.5px;
    a{
        color: $light-gray;
        font-size: 14px;
        text-transform: capitalize;
        &:hover{
            text-decoration: none;
        }
    }
    > span{
        display: block;
        font-weight: 300;
        color: $gray-dark;
        text-transform: uppercase;
        padding: 3px 0;
    }
    > div{
        margin-bottom:  $theme-margin / 2;
    }
    .posted_in,.tagged_as{
        a{
            font-weight: 300;
        }
    }
} 
.sku_wrapper span {color: $text-color; }

/* cross-sells */
.woocommerce{
    .cross-sells,.cart_totals{
        padding:0 20px;
        .products{
            border:none;
            box-shadow:none;
        }
    }
}
//---------------
.single-product{
    &.woocommerce {
        div.product{
            div.images .imagezoom img{
                width: auto;
                margin-bottom: 15px;
                @include transition(all 0.3s ease);
                @include box-shadow(0px 2px 5px 0px rgba(50, 50, 50, 0.09)); 
            }
            p.price{
                color: $black;
                font-size: 24px;
                opacity: 1;
                font-family: $font-family-monospace;
                ins{
                    font-weight: normal;
                }
            }
            .star-rating{
                color: #ffba00;
                @include rtl-margin(4px, 4px, 0, 0);
                height: 18px;
            }
            .cart{ 
                margin-bottom: 20px;  
                margin-top: 40px;  
                padding-bottom: 20px;
                border-bottom: 1px dotted $border-color;          
                div.quantity{
                    @include rtl-margin-right(10px);
                    margin-bottom: 5px;
                }
                .button{
                    background:$brand-primary;
                    font-weight: normal;
                    font-family: $font-family-monospace;
                    padding: 14px 40px;
                    font-size: 14px;
                    border-radius: 20px;
                    @include box-shadow(0px 3px 0px 0px rgba(231, 154, 3, 1));  
                    &:hover{
                        background: darken($brand-primary, 10%);
                    }
                }
                .variations{
                    .label{
                        font-size: 12px;
                        text-transform:uppercase;                      
                        line-height: 35px;                       

                    }
                    tr{
                        height: 50px;
                        label{
                            margin-top: 5px;
                        }
                    }
                }
            }
            form.variations_form{
                float: none;
            }
            p.cart{
                margin-top: 20px;
            }
            .woocommerce-product-rating{
                margin-bottom: 10px;
            }
        }
        .quantity{            
            .qty{
                width: 90px;
                height: 45px;
            }
        }        
     } 
    .summary{
       @include font-size(font-size, $single-product-summary-font-size);  
       width: 100% !important;     
        .star-rating{
            font-size:12px;
        }
        .product_meta{
            padding-top:30px;
            margin-top: 0;
        }            
    }
}


// product woocommerce tabs
.wc-tabs-wrapper{
    margin: 60px 0;
    padding-top: 0 !important;
    display: inline-block;
    width: 100%;
    > ul.wc-tabs{
        background: transparent;
        display: inline-block;
        float: none;
        width: 100%;
        text-align: center;
        position: relative;
        top: -25px;
        margin-bottom: -5px !important;
        &:before{
            border: none !important;
        }
        > li.reviews_tab, li.description_tab, li.additional_information_tab{
            background-color: transparent !important;
            box-shadow: none;
            border: none !important;
            margin: 0 -8px !important;
            &:before, &:after{
                display: none !important;
            }
            &.active{
                a{
                    color: $white !important;
                    background: $brand-primary;
                }
            }
            a{
                color: $gray-light;
                font-size: 16px;
                font-family: $font-family-monospace;
                line-height: 35px;
                padding: 7px 20px !important;
                border-radius: 30px;
                background: $white;
                text-transform: uppercase;
                @include box-shadow(0 0 3px #cccccc);  
                margin: 3px !important;
                letter-spacing: 1px;
                @media (max-width: $screen-sm-max){
                    padding: 7px 10px !important;
                    font-size: 13px;
                }
                &:hover{
                    background: $brand-primary;
                    color: $white !important;
                }
            }
        }
    }
    .entry-content{
        > h2{
            display: none;
        }
    }
    h2,h3,h4,h5{
        font-size: 14px;
        font-weight: 400;
        margin-top: 0;
        color: $black;
    }
    #tab-description{
        @include rtl-text-align-left();
    }
}
/**
 * Category And Listing Page
 */

 // styling sortorder and display mode
.products-top-wrap{
    margin-bottom: 20px;
    padding-bottom: 15px;
    .woocommerce-ordering{        
        @include rtl-float-left();
        margin-bottom: 0;
        select{
            height: 44px;
            padding: 8px 15px;
        }
    }
    .display-mode{
        @include rtl-float-right();
        .btn {
            border: none;
            background-color: transparent;
            font-size: 14px;
            line-height: 16px;
            padding: 15px;
            color: #d8d8d8;                      
            box-shadow: none;
            -webkit-box-shadow: none;
            &:first-child{
                position: relative;
                &:before{
                    position: absolute;
                    content: "";
                    width: 1px;
                    height: 10px;
                    background: $border-color-base;
                    @include rtl-right(-3px);
                    bottom: 18px;
                }
            }
            &.active{
                color: $brand-primary;
            }
        }        
        button:first-child{
            @include rtl-margin-right(5px);
        } 
        button{
            border: 1px solid $border-color;
        }
    }
}

.category-banner{
    margin-bottom: 30px;
}

.products-bottom-wrap{
    .woocommerce-pagination{
        @include rtl-float-left();        
    }
    nav.woocommerce-pagination{
        ul,ul li{
            border:none;
            span.current{
                background:transparent;
                color: $brand-primary;
                text-decoration: underline;
                padding:10px 15px;
                font-weight: bold;
            }
            a{
                &:hover{
                    background:transparent;
                    color: $brand-primary;
                }
                padding:10px 15px;
                font-weight: bold;
                color: $black;
            }
        }
    }
    .woocommerce-result-count{
        @include rtl-float-right();
        margin:8px 0;
    }
    margin: 20px 0;
}

/*------------------------------------*\
    Quickview
\*------------------------------------*/
#opal-quickview-modal{
    .modal-dialog{
        overflow: hidden;
        del{
            .amount{
                color: $product-price-old-color;
            }
        }
        &.modal-lg {
            @media(max-width: $screen-sm-max){
                width: 90%;
                margin: 15px auto;
            }
        }
    }
    .product-info{
        margin: 0;
        padding:0;
        .summary{
            @include rtl-margin-right($quickview-product-content-margin);
            width: 95%;
        }
        .product_title{
            padding-top: 0;
            margin-top: 0;
            @include font-size(font-size,$quickview-product-title-font-size);
        }
        .product_meta{
            @include clearfix();
            margin: 0;
        }
        p.price{
            color: $black;
            font-size: 30px;
            font-family: $font-family-monospace;
        }
        a.add_to_cart_button, a.product_type_external{
            background:$brand-primary;
            font-weight: normal;
            font-family: $font-family-monospace;
            padding: 14px 40px;
            font-size: 14px;
            border-radius: 20px;
            @include box-shadow(0px 3px 0px 0px rgba(231, 154, 3, 1));  
            margin: 30px 0;
            &:hover{
                background: darken($brand-primary, 10%);
            }
            span{
                color: $white;
            }
            i{
                display: none;
            }
        }
        .woocommerce-product-rating{
            .star-rating{
                color: #ffba00;
            }
        }
    }
    .close{
        &:hover{
            .fa,.icon{
                color: $brand-primary;
            }
        }
    }
    #quickview-carousel{
        overflow: hidden;
        &:hover{
            .carousel-control{
                opacity: 1;
                box-shadow: none;
                &:hover{
                    color: $theme-color;
                }
                &.left{
                    @include rtl-left(15px);
                }
                &.right{
                    @include rtl-right(15px);
                }
            }
        }
    }
    .carousel-indicators{
        li{
            border-color: $theme-color;
        }
        .active{
            background: $theme-color;
            border-color: $theme-color;
        }
    }
    .carousel-control{
        top: 0px;
        margin: 45% auto;
        font-weight: normal;
        line-height: 32px;
        opacity: 0;
        @include transition(all 0.45s ease);
        &.left{
            @include rtl-left(-45px);
        }
        &.right{
            @include rtl-right(-45px);
        }
    }
}

.kc_title{
    padding-bottom: 25px;
    margin-bottom: 22px;
}


.woocommerce form .form-row{
    margin: 22px 0 11px;
    padding: 0;
}
.woocommerce-cart table.cart .product-thumbnail img{
    width:  60px;
}
.woocommerce div.product form.cart .group_table td.label{
    padding-top: 5px;
    vertical-align: middle;
}
.rtl{
    &.woocommerce #content div.product div.images, 
    &.woocommerce div.product div.images, 
    &.woocommerce-page #content div.product div.images, 
    &.woocommerce-page div.product div.images {
        float: right;
    }
}
.rtl{
    &.woocommerce #content div.product div.summary, 
    &.woocommerce div.product div.summary, 
    &.woocommerce-page #content div.product div.summary, 
    &.woocommerce-page div.product div.summary {
        float: left;
    }
}
/**
 * Checkout Page
 */

/**
 * Thanks you page
 */
